<div class="container">
  <p>Register free for choco remedies exclusive from chocomonks</p>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        id="fname"
        formControlName="fname"
        class="form-control"
      />
      <span
        *ngIf="
          !signupForm.get('fname').valid && signupForm.get('fname').touched
        "
        >Please enter a valid First Name!</span
      >
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        type="text"
        id="lname"
        formControlName="lname"
        class="form-control"
      />
      <span
        *ngIf="
          !signupForm.get('lname').valid && signupForm.get('lname').touched
        "
        >Please enter a valid Last Name!</span
      >
    </div>
    <div class="radio" *ngFor="let gender of genders">
      <label>
        <input type="radio" formControlName="gender" [value]="gender" />{{
          gender
        }}
      </label>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control"
      />
      <span
        *ngIf="
          !signupForm.get('email').valid && signupForm.get('email').touched
        "
        >Please enter a valid Email!</span
      >
    </div>
    <div class="form-group">
      <label>Mobile Number</label>
      <input
        type="text"
        id="phone"
        formControlName="phone"
        class="form-control"
        minlength="10"
        maxlength="10"
      /><span
        *ngIf="
          !signupForm.get('phone').valid && signupForm.get('phone').touched
        "
        >Please enter a valid Phone Number!</span
      >
    </div>
    <div class="form-group">
      <label>Street Address</label>
      <input
        type="text"
        id="street_address"
        formControlName="street_address"
        class="form-control"
      />
      <span
        *ngIf="
          !signupForm.get('street_address').valid &&
          signupForm.get('street_address').touched
        "
        >Please enter a valid Street Address!</span
      >
    </div>
    <div>
      State / Union Territories
      <select formControlName="state">
        <option *ngFor="let state of states" [value]="state">{{
          state
        }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>City</label>
      <input
        type="text"
        id="city"
        formControlName="city"
        class="form-control"
      />
      <span
        *ngIf="
          !signupForm.get('city').valid &&
          signupForm.get('city').touched
        "
        >Please enter a valid City!</span
      >
    </div>
    <div class="form-group">
      <label>Post Office</label>
      <input type="text" id="po" formControlName="po" class="form-control" />
      <span
        *ngIf="
          !signupForm.get('po').valid &&
          signupForm.get('po').touched
        "
        >Please enter a valid Post Office!</span
      >
    </div>
    <div class="form-group">
      <label>Zip Code</label>
      <input type="text" id="zip" formControlName="zip" class="form-control" />
      <span
        *ngIf="
          !signupForm.get('zip').valid &&
          signupForm.get('zip').touched
        "
        >Please enter a valid Zip Code!</span
      >
    </div>
    <div class="form-group">
      <label>Nearest Landmark</label>
      <input
        type="text"
        id="landmark"
        formControlName="landmark"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <p>Avail your first choco remedy free</p>
      <label>Date of Birth</label>
      <mat-form-field>
        <input matInput [matDatepicker]="dob" placeholder="" />
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label>Place of Birth</label>
      <input type="text" id="pob" formControlName="pob" class="form-control" />
    </div>
    <div class="form-group">
      <label>Time of Birth</label>
      <select formControlName="tob_hrs">
        <option *ngFor="let tobHr of tobHrs" [value]="tobHr">{{
          tobHr
        }}</option>
      </select>
      Hrs
      <select formControlName="tob_mins">
        <option *ngFor="let tobMin of tobMins" [value]="tobMin">{{
          tobMin
        }}</option>
      </select>
      Mins
    </div>
    <button type="submit" [disabled]="!signupForm.valid">Submit</button>
  </form>
</div>
